#homepage {}

#heroSection {
    .hero {
        // padding-top: var(--navigationHeight);
        text-align: center;
        background: url('https://40.media.tumblr.com/1b916597d3e174399cb7adadddb66ede/tumblr_nt5uk4psl31ud7rr3o1_1280.jpg') no-repeat center center fixed;
        background-size: cover;
        // min-height: calc(100vh - var(--navigationHeight));
        min-height: 100vh;

        &_container {
            position: relative;
            z-index: 1;
            background: rgba(0, 0, 0, 0.329);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            &_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 0.5rem;

                &_main_title {
                    text-shadow: 2px 1px 2px #000;
                    font-size: 5em;
                    color: rgba(255, 255, 255, 0.7);
                }

                &_company_moto {
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
                    font-size: 20px;
                    font-style: italic;
                    color: black;
                }

                &_devider {
                    width: 50%;
                    border-top: 1px solid #f8f8f8;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }

                &_social {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 1rem;

                    &_button {

                        & a {
                            display: inline-block;
                            color: #000;
                            border: 2px outset rgba(0, 0, 0, 0.9);
                            border-radius: 2rem;
                            background: #C0C0C0;
                            text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
                            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
                            letter-spacing: 2px;
                            transition: 0.2s;
                            text-decoration: none;
                            padding: 0.5rem;

                            &:hover {
                                color: #fff;
                                border: 2px outset rgba(0, 0, 0, 0.9);
                                background: rgba(0, 0, 0, 0.9);
                                transform: scale(1.1);
                                transition: 0.2s;
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
                                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
                                letter-spacing: 2px;
                            }
                        }
                    }
                }

                &_scroll_sign {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    bottom: 4rem;


                    &_text {
                        color: #fff;
                        font: normal 400 20px/1 'Josefin Sans', sans-serif;
                        letter-spacing: .1em;
                        text-decoration: none;
                        transition: opacity .3s;
                        margin-top: 40px;
                    }

                    &_icon {
                        width: 24px;
                        height: 24px;
                        border-left: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-animation: sdb05 1.5s infinite;
                        animation: sdb05 1.5s infinite;
                        box-sizing: border-box;

                        @keyframes sdb05 {
                            0% {
                                -webkit-transform: rotate(-45deg) translate(0, 0);
                                opacity: 0;
                            }

                            50% {
                                opacity: 1;
                            }

                            100% {
                                -webkit-transform: rotate(-45deg) translate(-20px, 20px);
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

#pageContent {
    & .page_content {
        background: url('https://68.media.tumblr.com/eb2382a5a4c996cfdab27bc0d1eb51ff/tumblr_nt5umxS1FY1ud7rr3o1_540.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;

        &_container {
            background: rgba(0, 0, 0, 0.329);
            height: 100%;

            &_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 7rem 0;

                &_title {
                    font-size: 3em;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.9);
                }

                &_text {
                    font-size: 1.8em;
                    margin-top: 2rem;
                }
            }
        }
    }

    & #ourServices {

        & .our_services {
            color: black;
            background: url('https://68.media.tumblr.com/d3fd545cd977a174beef12c1106880bf/tumblr_nt505iKkul1ud7rr3o1_1280.jpg') no-repeat center center fixed;
            background-size: cover;

            &_container {

                &_content {

                    &_title {
                        font-size: 1.5em;
                    }

                    &_subtitle {
                        color: #000;
                        font-size: 1.17em;
                    }

                    &_gallery{
                        display: grid;
                        grid-template-columns: auto auto auto;

                        &_item{
                            max-width: 500px;
                            
                            & img {
                                max-width: 500px;
                            }
                        }
                    }
                }
            }
        }

        /*.portfolio-item {
            overflow: hidden;
            padding: 7px;
            color: white;
            height: 308px;
          }*/
        /*Portfolio items*/

        #portfolio .portfolio-item {
            margin: 0 0 15px;
            right: 0;
            border: 1px outset rgba(255, 255, 255, 0.6);
        }

        #portfolio .portfolio-item:hover {
            transition: 0.5s;
            box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.9);
        }

        #portfolio .portfolio-item .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
        }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover {
            background: rgba(0, 0, 0, .7);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease .5s;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s,
        }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
            opacity: 1;
        }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
            position: absolute;
            width: 100%;
            height: 20px;
            font-size: 20px;
            text-align: center;
            top: 50%;
            margin-top: -12px;
            color: #fff;
        }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
            margin-top: -12px;
        }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
            margin: 0;
        }

        #portfolio .portfolio-item .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.8);
            text-align: center;
            padding: 25px;
        }

        #portfolio .portfolio-item .portfolio-caption h4 {
            color: #fff;
            text-transform: none;
            margin: 0;
        }

        #portfolio .portfolio-item .portfolio-caption p {
            font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-style: italic;
            font-size: 13px;
            margin: 0;
        }

        #portfolio * {
            z-index: 2;
        }
    }
}